﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Nguyễn Lê Anh Thư</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm Những Chú Zịt</a></li>
        </ul>
    </nav>

    <article>
        <h1>Nguyễn Lê Anh Thư</h1>
        <p>------</p>
        <img src="~/image/z5771500944906_78c03c76824b96f5d4cecd24dff50cf3.jpg" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyễn Lê Anh Thư - @DateTime.Now.Year</p>
</footer>
